  
.main-body {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

h1 {
  text-align: center;
  margin-bottom: 2rem !important;
  height: fit
}

.description {
  text-align: center;
}

.contact-info {
  text-align: center;
}