footer {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h2 {
  margin-bottom: .5rem;
}

nav {
  display: flex;
  gap: 1rem;
}