header {
  box-sizing: border-box !important;
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  z-index: 100 !important;
  position: fixed;
  width: 100%;
  top: 0;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all .6s ease;
}

.header-logo-img {
  width: clamp(220px, 22vw, 300px);
  transition: width 0.4s;
}

.header-logo-img.shrink {
  width: clamp(135px, 13vw, 190px);
  transition: width 0.4s;
}

.header-contact-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contact-text-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.1rem !important;
  color: black !important;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header-contact-container {
    display: none;
  }
  
  .header-logo-img {
    width: clamp(190px, 50vw, 300px);
  }
}
