.method-preview-logo {
  max-width: 130px;
  max-height: 130px;
}

.method-previews-cont {
  margin: 1rem auto 1rem auto;
  width: fit-content;
  max-width: min(100%, 700px);
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  justify-content: space-evenly;
}

.method-preview-container {
  cursor: pointer;
  width: 40%;
  padding: 1rem;
  padding-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  > h1 {
    margin-bottom: .5rem !important;
    font-size: 2.4rem;
  }
}
.method-preview-container:hover {
  transition: .2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 15px !important;
}

.img-cont-div {
  height: 100%;
  min-height: 130px;
  display: flex;
  align-items: center;
}

.methods-header {
  text-align: center;
  width: fit-content;
  margin: 0.5rem auto 3rem auto;
}

.other-ways-text {
  margin: 5rem auto 2rem auto;
  width: fit-content;
  text-align: center;
}


@media (max-width: 500px) {
  .method-preview-container {
    width: 100%;
  }
  .method-previews-cont {
    row-gap: 2rem;
    flex-direction: column;
  }
}